/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color:orange;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    width: 140;
    height: 91;
    
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Hero Section Styles */
.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    text-align: center;
    color: black;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff6600;
}

/* Featured Products Section Styles */
.featured-products {
    text-align: center;
    padding: 50px 0;
}

.featured-products h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

/* Contact Us Section Styles */
.contact-us {
    text-align: center;
    padding: 50px 0;
}

.contact-us h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu li {
    margin-right: 20px;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Responsive Styles (Add as needed) */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }

    .hero {
        padding: 60px 0;
    }
}
